fastapi<0.110.0
starlette<0.36.0
uvicorn
pydantic
torch
transformers
huggingface-hub==1.30.0
accelerate
aixblock-ml
aixblock-sdk==0.0.5
aixblock-tools
colorama
lxml
appdirs
prometheus-client
grafana-api
gputil
psutil
mcp<2
wandb
requests
langchain
langchain-core
langchain-huggingface
gradio==4.44.1
opencv-python
datasets
trl
peft
diffusers
evaluate
loguru
pynvml
flask
flask-cors
flask_swagger_ui
