fastapi
uvicorn
pydantic
torch
transformers
huggingface_hub
accelerate
aixblock-ml
aixblock-sdk==0.0.5
aixblock-tools
colorama
lxml
appdirs
prometheus-client
grafana-api
gputil
psutil
mcp
wandb
requests
langchain
langchain-core
langchain-huggingface
